Checks: >
    modernize-*,
    performance-*,
    security-*,
    readability-*',
    misc-*,
    bugprone-*,
    clang-analyzer-*,
    google-*,
    security-*
WarningsAsErrors: '*'
HeaderFilterRegex: './include/.*'
ExtraArgs:
  - -I./include
  - -std=c++17
